body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo,.menu {
  display: inline-block;
}

.logo {
  font: 24px/32px 'PT Serif', serif;
  position: relative;
  padding: 40px 0;
  padding-left: 48px;
}

.logo__circle {
  position: absolute;
  left: 4px;
  top: 49%;
  transform: translateY(-53%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 12px;
  top: 57%;
  background: #c8dbfb;
  opacity: .7;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 13px;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
}

.main {
  padding: 205px 63% 269px 0;
  background: center right no-repeat url('img/mainimg.svg');
}

.main__title {
  margin: 0 0 37px 0;
  font: 66px/87px 'PT Serif', serif;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__subtitle {
  margin: 0 0 40px 0;
  max-width: 75%;
  font-size: 22px;
  line-height: 26px;
}

.main__button {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background: #0056ec;
  padding: 18px 29px;
  text-decoration: none;
  border-radius: 4px;
  animation: pulse 2s infinite;
}

.main__button:hover {
  opacity: .5;
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(55, 141, 250, .8);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(55, 141, 250, 0);
  }
}

#checkbox {
  opacity: 0;
}

@media (max-width: 768px) {
  .wrapper {
    margin: auto;
    width: 100%;
  }

  .header {
    margin-bottom: 2%;
  }

  .menu,
  .logo__text {
    display: none;
  }

  .menu__item_active::after {
    opacity: 0;
  }

  .logo {
    margin-left: 20px;
  }

  .main {
    text-align: center;
    padding: 69% 25px 0;
    background-size: 75%;
    background-position: top center;
  }

  .main__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 32px;
  }

  .main__subtitle {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
  }

  .main__button {
    font-size: 14px;
    line-height: 16px;
    padding: 14px 20px;
  }

  .hamburger__menu {
    display: flex;
    width: 25px;
    padding-top: 4px;
    border-bottom: 3px solid #0056ec;
  }

  .hamburger {
    display: block;
    position: relative;
    margin: 28px 23px 0 0;
    z-index: 20;
  }

  .hamburger::after,
  .hamburger::before {
    display: flex;
    position: relative;
    content: "";
    border-bottom: 3px solid #0056ec;
    padding-bottom: 4px;
  }

  #checkbox:checked ~ label .hamburger::before {
    transform: rotate(45deg);
    top: 7px;
  }

  #checkbox:checked ~ label .hamburger::after {
    transform: rotate(-45deg);
    top: -4px;
    right: 3px;
  }

  #checkbox:checked ~ label .hamburger__menu {
    border: none;
  }

  #checkbox:checked ~ .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
  }

  #checkbox:checked ~ .menu .menu__item {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 24px;
    margin-right: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .wrapper {
    width: 100%;
  }

  .logo {
    margin-left: 42px;
  }

  .menu {
    padding-right: 35px;
    padding-top: 10px;
  }

  .menu__item {
    font-size: 14px;
    line-height: 16px;
  }

  .main {
    padding: 100px 45% 200px 46px;
    background: top 82px right 47px no-repeat url('img/mainimgn.svg');
  }

  .main__title {
    margin: 0 0 38px 0;
    font-size: 50px;
    line-height: 66px;
  }

  .main__subtitle {
    margin: 0 0 41px 0;
    font-size: 18px;
    line-height: 21px;
  }

  .main__button {
    font-size: 14px;
    line-height: 16px;
    padding: 14px 21px;
  }
}

@media (min-width: 1300px) and (max-width: 1500px) {
  .wrapper {
    width: 75%;
  }

  .logo {
    margin-left: 45px;
  }

  .menu {
    padding-right: 40px;
    padding-top: 10px;
  }

  .menu__item {
    font-size: 14px;
    line-height: 16px;
  }

  .main {
    padding: 100px 45% 200px 46px;
    background: top 82px right 47px no-repeat url('img/mainimgn.svg');
  }

  .main__title {
    margin: 0 0 38px 0;
    font-size: 50px;
    line-height: 66px;
  }

  .main__subtitle {
    margin: 0 0 41px 0;
    font-size: 18px;
    line-height: 21px;
  }

  .main__button {
    font-size: 14px;
    line-height: 16px;
    padding: 14px 21px;
  }
}
