body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo,.menu {
  display: inline-block;
}

.logo {
  font-family: 'PT Serif', serif;
  font-size: 24px;
  line-height: 31px;
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
  opacity: .7;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
}

.menu__item:last-child {
  padding-right: 0;
}

.main-content__title {
  font-family: 'PT Serif', serif;
}
